.home-container{
    overflow: hidden;
    @media #{$mobile-query}{
        height: 70vh;
    }
}

@keyframes appears {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

.video-container{
    video{
        width: 100%;
        object-position: right;
        object-fit: cover;
        height: 100vh;
    }
}

.bienvenue{
    padding-top: 50px;
    position: absolute;
    top: 150px;
    width: 100%;
    .company-name{
        animation: 3s appears;
        font-size: 100px;
        text-transform: uppercase;
        @media #{$tablet-query}{
            font-size: 70px;
        }
        @media #{$mobile-query}{
            font-size: 43px;
        }
    }
}

.home-connexion{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 55px;
    z-index: 10;
    @media #{$tablet-query}{
        margin-top: 20px;
    }
    .not-user{
        display: flex;
        justify-content: center;
        margin-top: 20px;
        align-items: center;
        &:hover{
            cursor: pointer;
        }
        a{
            margin-left: 10px;
        }
        i{
            margin-right: 5px;
            margin-left: 5px;
        }
    }
}

.hide{
    display: none;
    position: absolute;
    top: 0;
}

@keyframes slideIn{
    0%{
        transform: translateX(350px);
    }100%{
        transform: translateX(0);
    }

}

.login-form-show{
    animation: slideIn 1s;
    z-index: 10;
    position: absolute;
    background-color: #ffffff;
    padding: 50px;
    border-radius: 30px;
    display: block;
    top: 10px;
    right: 10px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.05);
    height: 350px;
    @media #{$mobile-query}{
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        padding: 50px 20px 50px 20px;
    }
    div{
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        input{
            display: block;
            border-top: none;
            border-right: none;
            border-left: none;
            border-bottom: 1px solid #172542; 
            margin-bottom: 50px;
            font-size: 20px;
            padding-left: 10px;
            &:focus{
                border: none;
            }
        }
    }
    i{
        position: absolute;
        right: 20px;
        top: 10px;
        font-size: 30px;
        cursor: pointer;
        color: #172542;
    }
}

.not-show{
    opacity: 0;
    position: absolute;
    top: 0;
}

.signin-form-show{
    font-size: 30px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 50px;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.05);
    color: $primary-color;
    opacity: 1;
    transition: .5s;
    @media #{$mobile-query}{
        padding: 10px;
        font-size: 27px;
    }
    i{
        position: absolute;
        top: 10px;
        right: 10px;
        &:hover{
            cursor: pointer;
        }
    }
    p{
        margin-bottom: 20px;
        position: relative;
        line-height: 62px;
        @media #{$mobile-query}{
            line-height: 50px;
        }
        &:after{
            position: absolute;
            content: '';
            height: 1px;
            background-color: $primary-color;
            width: 120px;
            left: 0;
            bottom: 0;
        }
    }
    >div{
        input{
            font-size: 20px;
            color: $primary-color;
            border-top: none;
            border-right: none;
            border-left: none;
            border-bottom: 1px solid #172542; 
            margin-bottom: 50px;
            padding: 5px;
            @media #{$mobile-query}{
                margin-bottom: 15px;
                width: 100%;
            }
        }
        .email-and-psw{
            @media #{$mobile-query}{
                display: flex;
                flex-direction: column;
            }
            .psw-section{
                position: relative;
                display: inline;
                i{
                    font-size: 19px;
                    color: #172542;
                    position: absolute;
                    top: 14px;
                    right: 10px;
                    cursor: pointer;
                }
            }
        }
    }
}