#user-page{
    display: flex;
    @media #{$mobile-query}{
        flex-direction: column-reverse;
        align-items: center;
    }
}

#feed-container{
    width: 80%;
    @media #{$mobile-query}{
        width: 100%;
    }
    #post-something{
        padding-top: 50px;
        div{
            position: relative;
            width: 40%;
            margin: auto;
            @media #{$tablet-query}{
                width: 95%;
            }
            button{
                position: absolute;
                top: 10px;
                right: 10px;
                border: none;
                background-color: transparent;
                cursor: pointer;
            }
        } 
    }
    #feed{
        position: relative;
        @media #{$mobile-query}{
            width: 100%;
        }
        .post-container{
            position: relative;
            background-color: #fff;
            width: 80%;
            margin: 50px auto 50px auto;
            box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.05);
            padding: 50px;
            @media #{$mobile-query}{
                width: 95%;
                margin-top: 25px;
                padding: 10px;
            }
            .author-content{
                display: flex;
                align-items: center;
                .author-name{
                    font-weight: 500;
                    margin-right: 5px;
                    text-transform: capitalize;
                }
            }
            .post-content{
                border-bottom: 1px solid $secondary-color;
                padding: 20px;
                margin-bottom: 20px;
            }
            .post-coms{
                margin-top: 20px;
                font-size: 14px;
                >div{
                    margin-bottom: 10px;
                    .com-author{
                        font-weight: 400;
                        text-transform: capitalize;
                    }
                }
            }
            .deleteBtn{
                position: absolute;
                top: 0;
                right: 50px;
                min-height: 20px;
                color: red;
                border: 1px solid transparent;
                cursor: pointer;
                &:hover{
                    background-color: transparent;
                    border: 1px solid $secondary-color;
                }
                @media #{$mobile-query}{
                    top: 29px;
                    right: 6px;
                }
            }
            .add-comment{
                width: 100%;
            }
            .deleteCom{
                color: red;
                margin-left: 20px;
                border: 1px solid transparent;
                cursor: pointer;
                &:hover{
                    background-color: transparent;
                    border: 1px solid $secondary-color;
                }
                @media #{$mobile-query}{
                    top: 29px;
                    right: 6px;
                }
            }
        }
    }
}



#user{
    width: 20%;
    position: relative;
    @media #{$mobile-query}{
        width: 100%;
    }
    > div{
        position: fixed;
        top: 144px;
        border-left: 5px solid white;
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        flex-direction: column;
        @media #{$mobile-query}{
            position: relative;
            top: 0;
            border : none;
            width: 80%;
            margin: auto;
            justify-content: center;
            align-items: center;
            padding-top: 20px;
        }
    }
    img{
        border-radius: 100%;
        @media #{$mobile-query}{
            margin-right: 10px;
        }
    }
    #user-name{
        font-weight: 500;
        text-transform: uppercase;
        @media #{$mobile-query}{
            margin-top: 0;
        }
    }
}

.post-editor{
    min-height: 50px;
    width: 100%;
}


