//FONTS
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

//COLORS
$primary-color      : #172542;
$secondary-color    : #eaedf3;

//BREAKPOINTS
$tablet-query   : 'all and (max-width: 768px)';
$mobile-query   : 'all and (max-width: 576px)';